@font-face {
  font-family: 'Hero Light';
  src: url('/fonts/Hero_Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



/* From Uiverse.io by JaydipPrajapati1910 */ 
.button-ai {
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 20px;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
}

.button-ai:before, .button-ai:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 22px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 200% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* .button-ai:after {
  filter: blur(100px);
} */



/* From Uiverse.io by satyamchaudharydev */ 
.button-login {
  --primary-color: #1520A6;
  --secondary-color: #fff;
  --hover-color: #080C40;
  --arrow-width: 10px;
  --arrow-stroke: 1px;
  box-sizing: border-box;
  border: 0;
  color: var(--secondary-color);
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
}

.button-login .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-login .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.button-login .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.button-login:hover {
  background-color: var(--hover-color);
}

.button-login:hover .arrow {
  background: var(--secondary-color);
}

.button-login:hover .arrow:before {
  right: 0;
}

/* From Uiverse.io by Juanes200122 */ 
.container-coming-soon {
  background-color: #414141;
}
@keyframes bounce {
  0%,
  100% {
    translate: 0px 36px;
  }
  50% {
    translate: 0px 46px;
  }
}
@keyframes bounce2 {
  0%,
  100% {
    translate: 0px 46px;
  }
  50% {
    translate: 0px 56px;
  }
}

@keyframes umbral {
  0% {
    stop-color: #d3a5102e;
  }
  50% {
    stop-color: rgba(211, 165, 16, 0.519);
  }
  100% {
    stop-color: #d3a5102e;
  }
}
@keyframes partciles {
  0%,
  100% {
    translate: 0px 16px;
  }
  50% {
    translate: 0px 6px;
  }
}
#particles {
  animation: partciles 4s ease-in-out infinite;
}
#animatedStop {
  animation: umbral 4s infinite;
}
#bounce {
  animation: bounce 4s ease-in-out infinite;
  translate: 0px 36px;
}
#bounce2 {
  animation: bounce2 4s ease-in-out infinite;
  translate: 0px 46px;
  animation-delay: 0.5s;
}
